<div class="jumbotron">
  <h1 style="text-align: center;margin-top: -50px" class="display-3">{{classes.id}}</h1>
  <br>
  <div class=row>
    <div class="col">
        <button (click)="showClassInfoFunc()" type="button" class="btn btn-secondary btn-lg btn-block">Show Class Info</button>
    </div>
    <div class="col">
        <button (click)="editClassInfoFunc()" type="button" class="btn btn-info btn-lg btn-block">Edit Class Info</button>
    </div>
    <div class="col">
        <button (click)="showClassStudentsFunc()" type="button" class="btn btn-success btn-lg btn-block">Show Students</button>
    </div>
  </div>

  <ul *ngIf="showClassInfo" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Students Count
      <span class="largeFont badge badge-primary badge-pill">
        {{classes.currentStudentsId.length}}
      </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Current Semester
        <span class="largeFont badge badge-primary badge-pill">
          {{classes.status}}
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
          Section
          <span class="largeFont badge badge-primary badge-pill">
            {{classes.section}}
          </span>
        </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Degree
      <span class="largeFont badge badge-primary badge-pill">
        {{classes.degree}}
      </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Enrollment Year
      <span class="largeFont badge badge-primary badge-pill">
        {{classes.enrollmentYear}}
      </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Passing Out Year
      <span class="largeFont badge badge-primary badge-pill">
        {{classes.passingOutYear}}
      </span>
    </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
          Shift
          <span class="largeFont badge badge-primary badge-pill">
            {{classes.shift}}
          </span>
        </li>
  </ul>



  <div *ngIf="showClassStudents" class="row margin">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" >
        <table  style="text-align: center" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Enrollement Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Father Name</th>
              <th scope="col">Class</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody *ngFor="let student of students">
            <tr class="table-primary">
              <th scope="row">{{student.enrollmentId}}</th>
              <td>{{student.firstName}}</td>
              <td>{{student.fatherName}}</td>
              <td>{{student.class}}</td>
              <td>{{student.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <hr class="my-4">




