<div class="container">
  <div class="row margin">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" >
      <button (click)="openFormModal(addForm)" type="button" class="btn btn-info btn-lg btn-block">Add Student</button>
    </div>
  </div>

  <div class="row margin">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" >
      <table  style="text-align: center" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Enrollement Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Father Name</th>
            <th scope="col">Class</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let student of students">
          <tr class="table-primary">
            <th (click)="openStudentInfoModal(info,student)" scope="row">{{student.enrollmentId}}</th>
            <td>{{student.firstName}}</td>
            <td>{{student.fatherName}}</td>
            <td>{{student.class}}</td>
            <td>{{student.status}}</td>
            <td><button class="btn btn-md btn-danger" (click)="delete(student.enrollmentId)">Delete</button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>








<ng-template #addForm>
  <app-add-students></app-add-students>
</ng-template>

<ng-template #info>
</ng-template>

